<%=  form_tag invoices_url, :method => :get, :id => 'filter' %>
  <table id="table-filter">
    <tr>
      <td><%= t 'activerecord.attributes.invoice.code' %></td>
      <td><%= text_field_tag('filter[code]') %></td>
    </tr>
    <tr>
      <td><%= t'invoices.filter.from_date' %></td>
      <td><%= calendar_date_select_tag('filter[from_date]') %></td>
    </tr>
    <tr>
      <td><%= t 'invoices.filter.to_date' %></td>
      <td><%= calendar_date_select_tag('filter[to_date]') %></td>
    </tr>
    <tr>
      <td><%= t'invoices.filter.paid' %></td>
      <td>
        <%= t'general.yes'%><%= radio_button_tag('filter[paid]', 1) %>
        <%= t'general.no'%><%= radio_button_tag('filter[paid]', 0) %>
        <%= t'general.no_matter'%><%= radio_button_tag('', nil, true) %>
      </td>
    </tr>
    <tr>
      <td><%= t'invoices.filter.incidences' %></td>
      <td><%= check_box_tag('filter[incidences]') %></td>
    </tr>
  </table>
  <button type=\"submit\" class=\"positive\">
    <%= image_tag 'icons/tick.png', :alt => t('general.filter'), :title => t('general.filter')%><span><%=  t'general.filter'%></span>
  </button>
</form>
