<table id="print-order-info">
  <colgroup><col/><col/><col/><col/><col/><col/></colgroup>
  <thead>
    <tr>
      <th><%= t'invoices.print.order_date' %></th>
      <th><%= t'invoices.print.responsible' %></th>
      <th><%= t'invoices.print.client' %></th>
      <th><%= t'invoices.print.address' %></th>
      <th><%= t'invoices.print.postal_code' %></th>
      <th><%= t'invoices.print.client_cif' %></th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td><%= h order.date %></td>
      <td><%= h order.client.responsible rescue ''%></td>
      <td><%= h order.client.name rescue ''%></td>
      <td><%= h order.address %></td>
      <td><%= h order.client.postal_code rescue ''%></td>
      <td><%= h order.client.cif rescue ''%></td>
    </tr>
  </tbody>
</table>
