<%= object_messages(@client) %>
<h1><span><%= "#{t('clients.edit_client')} #{@client.name}" %></span></h1>
<% form_for @client, client_url(@client), :method => :put do |f|%>
  <fieldset>
    <legend><%= t 'general.edit' %> <%= @client.name %></legend>
    <%= render :partial => 'form', :locals => {:f => f} %>
  </fieldset>
<% end %>