<%= object_messages %>
<%= render :partial => 'filter' unless @orders.empty? and @filter.blank? %>
<h1><%= t'orders.orders' %> <%=t('orders.total_amount', :total => number_to_currency(@orders.inject(0) { |sum, obj | sum + (obj.total_wholesale_price)}))%></h1>
<% unless @orders.empty? %>
  <table id="items-list">
    <%= render :partial => 'header' %>
    <%= render :partial => 'order', :collection => @orders %>
  </table>
<% end %>
<%=  link_to image_tag('plus_32.png', :class => 'add-button', :alt => t('general.new'), :title => t('general.new')), new_order_url %>
<%= will_paginate(@orders, :prev_label => t('pagination.prev'), :next_label => t('pagination.next'), :params => params.clone.delete_if{|k,v| k == 'controller' || k == 'action' || k == 'page'}) %>
