<div class="ajaxforms-header">
  <span class="span-4"><%= t 'activerecord.attributes.order_line.product_id' %></span>
  <span class="span-3"><%= t 'activerecord.attributes.order_line.quantity' %></span>
  <span class="span-4"><%= t 'activerecord.attributes.order_line.code' %></span>
  <span class="span-4"><%= t 'activerecord.attributes.order_line.cost_price' %></span>
  <span class="span-4 last"><%= t 'activerecord.attributes.order_line.wholesale_price' %></span>
</div>